  .footer {
    bottom: 0;
    width: 100%;
    justify-content: center;
    text-align: center;
    color: black !important;
  }
  .mat-toolbar {
    background: transparent;
    z-index: 1000;
  }

  