<!-- Pilihan Warna -->
<div class="color-options">
    <p>Pilih Warna:</p>
    <button
      *ngFor="let color of colors"
      [class.active]="selectedColors.includes(color)"
      class="color-box-dialog"
      [style.backgroundColor]="color.toLowerCase()"
      (click)="addColor(color)">
      {{ color }}
    </button>
  </div>
  
  <!-- Daftar Warna yang Dipilih -->
  <div class="selected-colors">
    <p>Warna yang Dipilih:</p>
    <div *ngFor="let color of selectedColors" class="selected-color-item">
      <span>{{ color }}</span>
      <button (click)="removeColor(color)">Hapus</button>
    </div>
  </div>
  
  <!-- Kontainer Qty -->
  <div class="qty-container">
    <p>Qty: {{ qty }}</p>
  </div>
  
  <!-- Total Harga -->
  <p>Total Price: {{ totalPrice }}</p>
  