<mat-tab-group class="mat-tab-group-contaiter">
  <mat-tab label="Shirt"> 
    <mat-drawer-container class="drawer-container">
      <mat-drawer-content>
        <div class="shirt-list">
          <div class="shirt-card" *ngFor="let shirt of shirts"  (click)="openDialog(shirt)">
            <img [src]="shirt.image" alt="{{ shirt.name }}" />
            <p>{{ shirt.name }}</p>
            <p>Price: {{ shirt.price }}</p>
              <div class="size-options">
                <label>
                  <input type="radio" name="size2" value="S">
                  <span class="size-box">S</span>
              </label>
                <label>
                    <input type="radio" name="size2" value="M">
                    <span class="size-box">M</span>
                </label>
                <label>
                    <input type="radio" name="size2" value="L">
                    <span class="size-box">L</span>
                </label>
                <label>
                    <input type="radio" name="size2" value="XL">
                    <span class="size-box">XL</span>
                </label>
              </div>
              
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-tab>
  <mat-tab label="Pants"> Content 2 </mat-tab>
  <mat-tab label="Shoes"> Content 3 </mat-tab>
</mat-tab-group>

<!-- Dialog -->
<div class="custom-dialog" *ngIf="isDialogOpen">
  <div class="dialog-overlay" (click)="closeDialog()"></div>
  <div class="dialog-content">
    <!-- Gambar Utama -->
    <div class="main-image-container">
      <button class="nav-button left" (click)="previousImage()">&#9664;</button>
        <img [src]="selectedImage" alt="Main Image" class="main-image" />
      <button class="nav-button right" (click)="nextImage()">&#9654;</button>
    </div>
    
    <!-- Thumbnail Gambar -->
    <div class="thumbnail-container">
      <p>{{ selectedShirt?.name }}</p>
      <div class="position-image">
          <img *ngFor="let image of selectedShirt.images; let i = index"
              [src]="image"
              [class.active]="selectedImage === image"
              (click)="selectImage(i)"
              alt="Thumbnail" />
      </div>
      <div class="size-options">
        <h3>Select Size:</h3>
        <button
          *ngFor="let size of selectedShirt?.sizes"
          [class.active]="selectedSizes.includes(size)"
          class="size-box-dialog"
          (click)="selectSize(size)">
          {{ size.label }}
        </button>
        <!-- Pilihan Warna -->
        <div class="color-options">
          <h3>Select Color:</h3>
          <button
            *ngFor="let color of colors"
            [class.active]="color === selectedColor"
            (click)="selectColor(color)">
            {{ color }}
          </button>
        </div>
      
        <!-- Daftar Ukuran yang Dipilih -->
        <div class="selected-sizes">
          <ul>
            <li *ngFor="let size of selectedSizes">
              {{ size.label }} - {{ size.color }} - Rp {{ size.price }} x {{ size.qty }} 
              = Rp {{ size.price * size.qty }}
              <button (click)="removeSize(size)">Remove</button>
            </li>
          </ul>
          <p>Total Price for Sizes: Rp {{ totalSizePrice }}</p>
        </div>
      </div>
            
    </div>
    <button class="button-image" (click)="closeDialog()">Cancel</button>
    <button class="button-image" >Buy</button> 
  </div>
</div>


  