<mat-tab-group class="mat-tab-group-contaiter">
  <mat-tab label="Shirt"> 
    <mat-drawer-container class="drawer-container">
      <mat-drawer-content>
        <div class="shirt-list">
          <div class="shirt-card" *ngFor="let shirt of shirts"  (click)="openDialog(shirt)">
            <img [src]="shirt.image" alt="{{ shirt.name }}" />
            <p>{{ shirt.name }}</p>
            <p>Price: {{ shirt.price }}</p>
              <div class="size-options-content">
                <label>
                  <input type="radio" name="size2" value="S">
                  <span class="size-box-content">S</span>
              </label>
                <label>
                    <input type="radio" name="size2" value="M">
                    <span class="size-box-content">M</span>
                </label>
                <label>
                    <input type="radio" name="size2" value="L">
                    <span class="size-box-content">L</span>
                </label>
                <label>
                    <input type="radio" name="size2" value="XL">
                    <span class="size-box-content">XL</span>
                </label>
              </div>
              
          </div>
        </div>
      </mat-drawer-content>
    </mat-drawer-container>
  </mat-tab>
  <mat-tab label="Pants"> Content 2 </mat-tab>
  <mat-tab label="Shoes"> Content 3 </mat-tab>
</mat-tab-group>

<!-- Dialog -->
<div class="custom-dialog" *ngIf="isDialogOpen">
  <div class="dialog-overlay" (click)="closeDialog()"></div>
  <div class="dialog-content">
    <!-- Gambar Utama -->
    <div class="main-image-container">
      <button class="nav-button left" (click)="previousImage()">&#9664;</button>
        <img [src]="selectedImage" alt="Main Image" class="main-image" />
      <button class="nav-button right" (click)="nextImage()">&#9654;</button>
    </div>
    
    <!-- Thumbnail Gambar -->
    <div class="thumbnail-container">
      <p>{{ selectedShirt?.name }}</p>
      <div class="position-image">
          <img *ngFor="let image of selectedShirt.images; let i = index"
              [src]="image"
              [class.active]="selectedImage === image"
              (click)="selectImage(i)"
              alt="Thumbnail" />
      </div>
       <!-- Pilihan Warna -->
       <p class="small">Select Color:</p>
       <div class="color-options">
         <div>
           <button
             *ngFor="let color of selectedShirt?.sizes[0]?.color"
             [ngStyle]="{'background-color': color === selectedColor ? color : 'transparent'}"
             [class.active]="color === selectedColor"
             class="color-box-dialog"
             (click)="selectColor(color)">
             {{ color }}
           </button>
         </div>
       </div>
      <p class="small">Select Size:</p>
      <div class="size-options">
        <div *ngFor="let size of selectedShirt?.sizes" class="size-container">
          <button
            [class.active]="selectedSizes.includes(size)"
            class="size-box-dialog"
            [disabled]="size.stocks <= 0" 
            (click)="selectSize(size)">
            {{ size.label }}
          </button>
          <div class="size-stock">
            <span class="stock-display">{{ size.stocks }}</span>
          </div>
        </div>
      </div>
 
      

      
      
        
        <!-- Daftar Ukuran yang Dipilih -->
        <div class="selected-sizes">
            <div *ngFor="let size of selectedSizes">
              {{ size.label }} - {{ size.color }} - Rp {{ size.price | number:'1.0-0' }} x {{ size.qty }} 
              = Rp {{ size.price * size.qty | number:'1.0-0' }}
              <button (click)="removeSize(size)">-</button>
            </div>
          <p>Total Price: Rp {{ totalSizePrice | number:'1.0-0' }}</p>
        </div>

                <!-- Buttons for Cancel and Buy -->
        <div class="button-container">
          <button class="size-box-close" (click)="closeDialog()">Cancel</button>
          <button class="size-box-buy" (click)="buy()">Buy</button>
        </div>
      </div>
      
    </div>
</div>


  